/ = render 'recipes/index', recipes: @recipes
.row
  .span4
    - if can?(:create, Recipe)
      =link_to 'Создать рецепт', new_recipe_path
  .span8
    #recipes
      %h1 Рецепты
      = render @recipes
    = will_paginate @recipes

