.row
  .span8
    - if !@result.any?
      %p Нет результатов поиска
    - if @result.any?
      - if @type != 'user'
        #recipes
          %h1 Рецепты
          = render @result
      - else
        #users
          %h1 Пользователи
          - @result.each do |user|
            = link_to "#{user.email}", user_profile_path(user.id)
